.chat_window {
  padding: 1rem;
}
.chat_header {
  text-align: center;
  background: #eee;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 25px;
}

.chat_header > *:nth-child(1) {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.msg_input > *:nth-child(1) {
  width: 100%;
}

.btn {
  background: #045762;
  color: #fff;
}

.btn:hover {
  background: #045762;
  opacity: 0.8;
}
