.warpper_left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.warpper_right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.message_left {
  background: #f0f4f7;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 13px;
  border-radius: 5px 5px 5px 0px;
  color: #8495a3;
  display: inline-block;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.message_right {
  background: #bd6982;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 13px;
  border-radius: 5px 0px 5px 5px;
  color: #fff;
  display: inline-block;
  text-align: right;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}
