.message_left {
    background:#f0f4f7;
	font-size:13px;
	font-weight:600;
	padding:12px 13px;
	border-radius:5px 5px 5px 0px;
	color:#8495a3;
	position:relative;
	float:left;
}

.corner_left {
    background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
	position:absolute;
	width:7px;
	height:7px;
	left:-5px;
	bottom:0;
}

.message_right {
    background:#bd6982;
	font-size:13px;
	font-weight:600;
	padding:12px 13px;
	border-radius:5px 0px 5px 5px;
	color:#fff;
	position:relative;
	float: right;
}
